<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<h1>Music</h1>
<form th:action="@{/}" th:method="get">
    <input type="text" name="term">
    <input type="submit" value="Search for music">




</form>

<div class="row">
    <div class="col col-12">
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Artist</th>
                <th scope="col">Title</th>
                <th scope="col">Details</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="result : ${song.getResults()}">
                    <td th:text="${result.getTrackId()}"></td>
                    <td th:text="${result.getArtistName()}"></td>
                    <td th:text="${result.getTrackName()}"></td>
                    <td><a th:href="${result.getTrackUrl()}"><button type="button" class="btn btn-info">Show Details</button></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col">

        <h2 class="text-center" style="margin: 15px">

        </h2>
        <table class="table text-center">
            <thead class="thead-light">

            </thead>
            <!--                    <tbody th:each="i : ${#numbers.sequence(0, weather.getConsolidatedWeather().size() - 1)}">-->
            <!--                        <tr th:each="w : ${weather.getConsolidatedWeather().get(i)}">-->
            <!--                            <td th:text="${w.getApplicableDate()}" />-->
            <!--                            <td th:text="${w.getWeatherStateName()}"/>-->
            <!--                            <td th:text="${#numbers.formatDecimal(w.getMinTemp(), 1, 2)}" />-->
            <!--                            <td th:text="${#numbers.formatDecimal(w.getMaxTemp(), 1, 2)}" />-->
            <!--                            <td th:text="${#numbers.formatDecimal(w.getWindSpeed(), 1, 2)}" />-->


            <!--                            <td th:text="${w.getAirPressure()}" />-->
            </tr>
            </tbody>
        </table>

    </div>
</div>
</div>

</body>
</html>